* {
	background: #FFFFFF;
}

#title {
	margin-top:100px;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
	color:#000080;
}

#corner{
	position: relative;
	top: -220px;
	right: -35px;
}

#title h1{
	font-size: 55px;
}

#title h3{
	font-size: 35px;
}

#logo{
	width: 300px;
	float: left;
}

#list{
	float: right;
	width: 65%;
    font-size: 16pt;
    padding: 25px;
    text-align: justify;
    position: relative;
	right: 65px;
}

#list li{
	list-style: none;
	margin-bottom: 55px;
}

#list h3{
	font-size: 35px;
	color: #000080;
	margin-bottom: 10px;
}

#list span{
	font-weight:bold;
}

#basic-info {
	font-size: 25px;
}

h4 {
	color:#4B0082;
}

#listing{
	float:left;
	width: 20%;
	display: inline;
	position: fixed;
	margin-left: 90px;
	margin-top: -20px;
	font-size:15px;
}

#listing ul{
	margin-bottom: -10px;
}

#title_listing{
	font-size: 20px;
	color: #000080;
	font-weight:bold;
}