* {
	background: #708090;
}

#title {
	margin-left: 150px;
	margin-right: 150px;
	margin-top:100px;
	margin-bottom:200px;
	text-align: center;
	color:#000080;
}

#title h1{
	font-size: 55px;
}

#title h3{
	font-size: 35px;
}

#logo{
	width: 300px;
	float: left;
}

#list{
	clear: both;
	width: 65%;
	margin-left: auto;
    margin-right: auto;
    font-size: 16pt;
    padding: 25px;
    text-align: justify;


}

#list li{
	list-style: none;
	margin-bottom: 55px;
}

#list h3{
	font-size: 35px;
	
	color: #000080;
	margin-bottom: 10px;
}

#list span{
	font-weight:bold;
}

#basic-info {
	font-size: 25px;
}

h4 {
	color:#4B0082;
}