* {
	background: #708090;
}

#blog_title{
  font-family:Vivaldi;
  font-size:35pt;
  text-align:center;
  margin-top: 75px;
}
h2{
  font-family:Garamond;
  font-size:20pt;
  margin-left: 200px;
  margin-top:75px;
}
#date{
  font-family:Garamond;
  font-size:14pt;
  margin-left: 200px;
  font-weight: bold;
}
#text_body{
	font-family:Garamond;
  font-size:14pt;
}
div {
	border:1px solid black;
	margin-top: 40px;
	margin-right: 200px; 

	margin-left: 200px;
	padding-right: 50px;
	padding-left: 50px;
#thanks{ 
margin-top: 20px;
}