* {
	background: #708090;
}

#blog_title{
  font-family:Vivaldi;
  font-size:40pt;
  text-align:center;
  margin-top: 75px;
}
h2{
  font-family:Garamond;
  font-size:28pt;
  margin-left: 300px;
  margin-top:75px;
}
#date{
  font-family:Garamond;
  font-size:18pt;
  margin-left: 300px;
  font-weight: bold;
}
#text_body{
	font-family:Garamond;
  font-size:18pt;
}
div {
	border:1px solid black;
	margin-top: 40px;
	margin-right: 300px; 
  margin-bottom: 100px;
	margin-left: 300px;
	padding-right: 50px;
	padding-left: 50px;
}
#thanks{ 
margin-top: 20px;
}